[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pathlit"]
	path = pathlit
	url = https://github.com/cran/pathlit
	shallow = true
	registered = true
